.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
	background-color: #7EBDC3;
	color: #fff;
	text-align: center;
	padding: 20px;
}
/* toggle style */
.toggle {
    
    /* position: relative; */
    cursor: pointer;
  }
  
  .toggle input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 5.5rem;
    left: 1.5rem;
    background-color:  #D7C9AA ;
    border-radius: 34px;
    transition: background-color 0.2s ease;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:  #D7996D;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }

  .list{
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 5.5rem;
    right: 1rem;
}

.listItem{
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
  
  input:checked + .slider {
    background-color: #D7996d;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #320b1a; 
  }
  
  /* size of the toggle */
  .slider {
    width: 60px;
    height: 34px;
  }
  
  .slider:before {
    width: 26px;
    height: 26px;
  }